@import url("../public/fonts.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  &,
  &.light-mode {
    --background-app-rgb: 255, 255, 255;
    --color-secondary-900: 17, 24, 39;
    --color-secondary-800: 31, 41, 55;
    --color-secondary-700: 55, 65, 81;
    --color-secondary-600: 75, 85, 99;
    --color-secondary-500: 107, 114, 128;
    --color-secondary-400: 156, 163, 175;
    --color-secondary-300: 209, 213, 219;
    --color-secondary-200: 229, 231, 235;
    --color-secondary-100: 243, 244, 246;
    --color-secondary-50: 249, 250, 251;
    --color-secondary-0: 255, 255, 255;
    --color-success: 0, 192, 115;
    --color-warning: 255, 153, 0;
    --color-error: 255, 71, 87;
    --color-red-500: 239, 68, 68;
    --color-red-300: 252, 165, 165;
    --color-primary-light: 255, 199, 199;
  }
  &.dark-mode {
    --color-secondary-900: 249, 250, 251;
    --color-secondary-800: 243, 244, 246;
    --color-secondary-700: 229, 231, 235;
    --color-secondary-600: 209, 213, 219;
    --color-secondary-500: 156, 163, 175;
    --color-secondary-400: 107, 114, 128;
    --color-secondary-300: 75, 85, 99;
    --color-secondary-200: 55, 65, 81;
    --color-secondary-100: 31, 41, 55;
    --color-secondary-50: 17, 24, 39;
    --color-secondary-0: 24, 33, 47;
    --backdrop-color: 0, 0, 0;
  }
}
@layer components {
  .signup-style {
    @apply cursor-pointer bg-secondary-900 px-6 rounded-full h-[48px] flex justify-center items-center hover:opacity-60 transition-all;
  }

  .range-input {
    @apply w-56 h-2  bg-secondary-0 rounded-md;
    -webkit-appearance: none;
    appearance: none;
    outline: none;
  }

  .range-input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    @apply w-4 h-6 bg-secondary-900 rounded-full cursor-pointer;
  }

  .range-input::-moz-range-thumb {
    @apply w-4 h-6 rounded-full cursor-pointer;
  }

  .range-input::-ms-thumb {
    @apply w-4 h-6 rounded-full cursor-pointer;
  }

  .text-size {
    @apply text-[15px] font-semibold;
  }
  .input-style {
    @apply rounded-xl placeholder:font-thin w-[240px] pl-10 py-[9px] bg-secondary-100 font-light border-[3px]  border-transparent  hover:border-red-100 hover:shadow-lg hover:bg-secondary-0 transition-all;
  }
  .btn {
    @apply px-3 shadow-lg py-1 font-bold rounded-xl transition-all duration-300;
  }
  .btn--primary {
    @apply px-5 py-4 bg-[#0d0c22] text-white hover:bg-[#565564] shadow-sm;
  }
  .btn--secondary {
    @apply px-3 shadow-lg py-1 font-bold rounded-3xl transition-all duration-300;
  }
  .logo-style {
    @apply w-16 h-16   object-contain rounded-xl shadow-lg border-2 border-gray-200 transform transition-transform duration-300 hover:scale-105;
  }
  .brand-style {
    @apply lg:order-1 xl:hidden hidden md:flex 2xl:order-1 w-32 h-2 lg:w-36 lg:h-10 justify-center  items-center;
  }
  .transition-element {
    @apply transition-all duration-200;
  }
  .transition-custom {
    @apply transition ease-in-out duration-300;
  }
  .text-fieldsearch {
    @apply absolute top-full left-0 w-[450px] mt-3 bg-white 
  shadow-lg rounded-xl max-h-[70vh] overflow-y-auto z-50
  border border-gray-100 animate-fadeIn;
  }
}

@layer utilities {
  /* HTML: <div class="loader"></div> */
  /* HTML: <div class="loader"></div> */
  .loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side, #000 90%, #0000);
    background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
    background-size: calc(100% / 3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
    20% {
      background-position: 0% 0%, 50% 50%, 100% 50%;
    }
    40% {
      background-position: 0% 100%, 50% 0%, 100% 50%;
    }
    60% {
      background-position: 0% 50%, 50% 100%, 100% 0%;
    }
    80% {
      background-position: 0% 50%, 50% 50%, 100% 100%;
    }
  }
}
body {
  padding: 0;
  margin: 0;
  font-family: "Vazir" !important;
  min-height: 100vh;
  user-select: none;
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  outline: none;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  outline: none;
}
input {
  border: 1px red solid;
  border-radius: 17px;
}
button:disabled {
  cursor: default;
  background-color: rgb(var(--color-secondary-100), 0.5);
  pointer-events: none;
  box-shadow: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* TABLE */

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  border-radius: 20px;
  background-color: rgb(var(--color-secondary-0));
}

table .title-row {
  background-color: rgb(var(--color-secondary-900));
}

table td,
table th {
  border-bottom: 1px solid rgb(var(--color-secondary-700));
  text-align: right;
  white-space: nowrap;
}

table th {
  padding: 0.6rem 1rem;
  color: rgb(var(--color-secondary-0));
  font-size: 1rem;
}

table td {
  font-size: 1rem;
  padding: 1.2rem 1.5rem;
  color: rgb(var(--color-secondary-700));
}
